#img-card {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#img-card-wrapper {
    height: 216px;
    overflow: hidden;
}

.text-block {
    max-height: 48px;
}

.border-card {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.font {
    font-size: 12px;
}

.text {
    padding-left: 10px;
    display: inline-block;
}

.color {
    background-color: #fff;
}

.cost {
    font-weight: bold;
}

.cost-sale {
    color: #ffbb2f;
    font-weight: bold;
}

.block {
    transition: box-shadow 0.3s ease-in-out;
}

.block:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

@media (max-width: 992px) {
    #img-card-wrapper {
        height: 160px;
        overflow: hidden;
    }
}